#button {
    background-color: pink;
  }
  
  h1 {
    font-size: 25px;
    padding: 2%
  }
  
  /* ------------------------------------------------------- */
  
  /* The switch - the box around the slider */
  #toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  #toggle input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  /* ------------------------------------------------------- */
  
  /*
    Tags
  */
  a {
    text-decoration: none;
  }
  
  article {
    flex: 1 1 50%;
    border: 2px solid;
    border-radius: 4px;
    padding: 1rem;
    position: relative;
  }
  
  article blockquote {
    margin: 1rem;
    margin-bottom: 2rem;
    font-style: italic;
  }
  
  article h2 {
    text-transform: capitalize;
    border-bottom: thin solid;
  }
  
  article p {
    position: absolute;
    left: 1rem;
    bottom: 0.5rem;
    opacity: .75;
  }
  
  footer {
    position: fixed;
    inset: 0;
    top: calc(100% - 12rem);
  }
  
  li {
    margin: 1rem;
    list-style: none;
  }
  
  main {
    flex-direction: column;
    gap: 1em;
    padding: 1rem;
    height: calc(100vh - 18rem);
    overflow-y: scroll;
    justify-content: flex-start;
  }
  
  ul {
    list-style: none;
    list-style-type: none;
  }
  
  /*
    Classes
  */
  .card {
    flex: 1 1 50%;
    border: 2px solid;
    border-radius: 4px;
  }
  
  .dark a {
    color: var(--light);
  }
  
  .light footer {
    border-top: double 1rem;
  }
  
  .light a {
    color: var(--dark);
  }
  
  /*
    IDs
  */
  #back {
    padding: 0.5rem 1rem;
    border-radius: 4px;
    margin-right: 1rem;
    border: groove black;
    background-color: var(--dark-accent);
    color: var(--light);
  }
  
  
  #back:active {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .5);
    background-color: var(--dark-accent);
  }
  
  #back:hover {
    border-style: inset;
    background-color: var(--dark-accent-action);
  }
  
  #love {
    text-align: center;
  }
  